<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Calendar</h4>
            <p class="card-category">Check all the dates in this calendar</p>
        </div>
        <div class="card-body">
            <div id="typography">
                <div class="card-title">
                </div>
                <mat-calendar></mat-calendar>
            </div>
        </div>
    </div>
</div>
